<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Major+Mono+Display">
<div class="footer-container">
  <div class="footer-wrapper">
    <div class = "links">
      <div class="link-wrapper">
        <a href="/">home</a>
      </div>

      <a style="color: white">|</a>

      <div class="link-wrapper">
        <a href="/about">about</a>
      </div>

      <a style="color: white">|</a>

      <div class="link-wrapper">
        <a href="/contact">contact</a>
      </div>
    </div>
  </div>
</div>
