<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZH | About</title>
  <link rel="stylesheet" href="css/about.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Major+Mono+Display">
</head>
<body>
  <%- include("partials/header.ejs") -%>

  <div class="about-title">
    <h1>hello, im zach!</h1>
    <h2>engineering | science | outdoors</h2>
  </div>

  <div class="text-portion">
    <p>
        i beilive there is beauty in all things, the great outdoors, the taste of a great dish, and engineering is no exception. it is the art of creation at the highest level.
        the rush of birthing a new and unique instrument through which life is lived. and the vehicle we use to further our civilization. engineering is a passion
        for me, it is a job that forces oneself to view the full picture, and the sea of outcomes that a certain decision may cause. no matter how small
        the project, italways has a purpose in the grand design of something greater. much like each one of us in a sense.
    </p>
  </div>

  <%- include("partials/footer.ejs") -%>
</body>
</html>
