<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZH | About</title>
  <link rel="stylesheet" href="css/about.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Major+Mono+Display">
</head>
<body>
  <%- include("partials/header.ejs") -%>

  <div class="about-title">
    <h1>hello, im zach!</h1>
    <h2>engineering | science | space</h2>
  </div>

  <div class="text-portion">
    <p>
    </p>
  </div>

  <%- include("partials/footer.ejs") -%>
</body>
</html>
