<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZH | Contact</title>
  <link rel="stylesheet" href="css/contact.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Major+Mono+Display">
</head>
<body>
  <%- include("partials/header.ejs") -%>

  <div class="list-email">
    <h2>email</h2>
    <h3>zach@zachheimbigner.io</h3>
  </div>

  <div class="Resume-header">
    <h2>Resume<h2>
  </div>

  <div class="Resume-img">
    <img src="../img/Resume.png"></img>
  </div>

  <div class="Resume-link">
    <a href="/public/img/Resume.png">Resume link</a>
  </div>

  <%- include("partials/footer.ejs") -%>

  <script>
    //<%- include("../public/js/contact.js") -%>
  </script>
</body>
</html>
