body {
  margin: 0;
  background-color: #222629;
  font-family: "Major Mono Display";
}

.list-email {
  padding-top: 30px;
  text-align: center;
  font-size: 1.8em;
  color: white;
}

.list-email h2{
  font-size: 2.4em;
  color: #61892f;
  margin-bottom: 10px;
}

.Resume-header {
  font-size: 2.4em;
  text-align: center;
  color: #61892f;
  border-bottom: 0px;
}

.Resume-img {
  text-align: center;
  width: auto;
  padding: 20px;
  padding-top: 0px;
}

img {
  max-width: 50%;
  height: auto;
}

.Resume-link {
  font-size: 4em;
  border-bottom: 1px solid transparent;
  text-align: center;
  padding: 40px;
}

.Resume-link a{
  text-decoration: none;
  color: #61892f;
}

@media (max-width: 992px) {

  .list-email {
    padding-top: 10px;
    font-size: .9em;
  }

  .list-email h2{
    font-size: 1.6em;
  }

  .Resume-header {
    font-size: 1.6em;
  }

  .Resume-link {
    font-size: 1.6em;
    padding: 20px;
  }

  img {
    max-width: 95%;
    height: auto;
  }
}
