.container {
  font-family: "Major Mono Display";
  font-size: 1.1em;
  color: #86c232;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
}

.link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.link-wrapper a {
  text-decoration: none;
  transition: color 0.5s;
}

.link-wrapper:hover {
  border-bottom: 1px solid #86c232;
}

@media (max-width: 992px) {
  .right-side {
    display: none;
  }
}
